#choose{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
    
    margin-top:100px;
}
#choose>div{
    
    position: relative;
    
    left:70px;

}
#us{
    position: relative;
    top:50px;
    left:70px;
}
#choose>div>h3{
    position: relative;
    left:10px;
    font-weight: Bold;
}
#choose>div>p{
    position: relative;
    bottom:10px;
    right:8px;
    font-size:20px;
    font-weight: Bold;
}
