
/* --------------------------------------index.css----------------------------------------------------------------------------- */
html{
    margin:0px;
    height: 100%;
    width:100%;
}

body{
    margin:0px;
    width: 100%;
    /* height:100%; */
    min-height:100%;
 }

#container{
height:auto;
width:100vw; 

}


/* ----------------------------------------nav----------------------------------------- */
.navi{
	    display: grid;
	    grid-template-columns: repeat(2,1fr);
	    grid-template-rows: repeat(2,50px);
	    
	    gap:20px;
	    background: teal;
	    position:sticky;
	    top:0px;
	    z-index:1000;
	    
	

	}
	.navi>div{
	    
	}
	#select{
	    margin-top:20px;
	    height:50px;
	    width:100px;
	    border-radius: 4px;
	}
	.navi>div:nth-child(1){
	    width:300px;
	    margin-left:50px;
	    /* margin-top:20px; */
	    color:white;
	    position:relative;
	    top:20px;
	    
	}
	.navi>div:nth-child(2){
	    width:1000px;
	    margin-right:100px;
	    
	}
	.navi>div:nth-child(3){
	    width:300px;
	

	}
	.navi>div:nth-child(4){
	    width:300px;
	    margin-top:5px;
	    white-space: nowrap;
	

	}
	input[type="search"]{
	    height:50px;
	    width:800px;
	    border-radius: 4px;
	}
	 ol{
	    display: flex;
	    list-style: none;
	margin:auto 0;
	}
	 ol li{
	    margin:0 2px;
	}
	 ol li a{
	    color:white;
	    font-size: 20px;
	    text-decoration: none;
	    text-transform: capitalize;
	    letter-spacing:1px;
	    padding:5px 10px;
	}


/* --------------------------------crauser----------------------------------------- */



#crause{
   /* position:relative; */
   height:30vh;
    width:143vw; 

} 


#crause>div{
   
     width: 100vw; 
    /* position:relative;  */
     
    
}
img{
   width: 100%;
}
button{
   position:absolute;
   top:20%;
background: rgba(100,100,100,0.4);
border:none;
font-size: 1.5rem;
color:white
}
button:nth-child(2){
   left:10px;

}
button:nth-child(3){
   right:10px;
}


/* --------------------------------------------midbox------------------------------------- */

#mid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 20vh;
    
    gap:20px;
    margin-top:50px;
    
}
/* #mid>div{
    border:2px solid purple;
} */

#align{
    height:100%;
    width:100%;
    border:1px solid wheat;
    border-radius: 8px;
   
}
#align>div{

height:50%;
width:100%;
position:relative;
bottom:16px;
margin:auto;
}
#align>div>img{
    width:15vw;
    height:15vh;
     position:relative; 
      bottom:86px;
     left:270px;  
}
#center{
    height:100%;
    width:100%;
    border:1px solid wheat;
    border-radius: 8px;

}
#center>div{
    
height:50%;
width:100%;
position:relative;
bottom:16px;
}
#center>div>img{
    width:15vw;
    height:15vh;
    position:relative;
    left:340px;
    position:relative; 
    bottom:86px;
   left:270px; 
}
#item{
    height:100%;
    width:100%;
    border:1px solid wheat;
    border-radius: 8px;
}
#item>div>img{
    width:15vw;
    height:15vh;
    position:relative; 
      bottom:86px;
     left:270px; 
}
#item>div{
    
height:50%;
width:100%;
position:relative;
bottom:16px;
}
#align>div:nth-child(1){
    background:#e6ffff;
    
}
#center>div:nth-child(1){
    background: #fce4ec;
}
#item>div:nth-child(1){
    background: #b3e5fc;
}
#for{
padding:10px 25px;
margin:15px 20px;
background: teal;
border:none;
border-radius: 5px;
color:white;
font-size: 20px;
position:absolute;
}

#now{
padding:10px 25px;
margin:15px 20px;
background: orange;
border:none;
border-radius: 5px;
color:white;
font-size: 20px;
position:absolute;

}
#never{
padding:10px 25px;
margin:15px 20px;
background: #03a9f4;
border:none;
border-radius: 5px;
color:white;
font-size: 20px;
position:absolute;


}
#item>div>p{
    color:white;
}
#align>div>p{
    color:white;
}
#center>div>p{
    color:white;
}
#item>div>h2{
    margin-left:30px;
}
#align>div>h2{
    margin-left:30px;
}
#center>div>h2{
    margin-left:30px;
}

/* -----------------------------------------father-daughter box */
#daughter{
    width:90%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:100px;
    gap:20px;
/* padding:20px; */
margin:80px 40px;
    /* /* height:100px;
    width:90%;
    margin-top:50px;
    margin-left:80px; */
    background:#58a5f0; 
}
#daughter>div{

}
img{
    width:70%;
     height:100%; 

}
#daughter>div>p{
    color:red;
    font-size:22px;
    margin-top:30px;
/* 
   margin-left:300px;
    margin-bottom:550px;  */
    font-weight: bold;
}
#con{
    /* width:30%; */
    /* height:30px; */
     
    /* margin-left:800px;
    margin-top:200px;  */
}


/* -------------------------------offer- */
#offer{
  height: 40px;
  width:40px;
  display:flex;
  position:relative;
  bottom:20px;
}
#offer>h1{
  font-weight: bold;
  
}

/* -------------------------------------off------------------------------------- */

#off{
    /* display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px;
    border:1px solid green; */
    
    
}

.offFor{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 100px;
    margin-left:50px;

    gap:20px;
}
.offFor>div{

    
}
.offFor>div>img{
    width:50%;
    height:50%;
    position:relative;
    top:20px;
    bottom:20px;
    left:20px;
    right:20px;
}
.offFor>div>p{
    white-space:nowrap;
    font-size:16px;
    width:150px;
    overflow: hidden !important;
    text-overflow:ellipsis;
margin-top:20px;
    color:black;
    font-weight: bolder;
    
}

.offFor>div:nth-child(1){
    width:100px;
}
.offFor>div:nth-child(2){
    position: relative;
    right:110px;
}
.offFor>div:nth-child(3){
    width:100px;
}
.offFor>div:nth-child(4){
    position: relative;
    right:110px;
}
.offFor>div:nth-child(5){
    width:100px;  
}
.offFor>div:nth-child(6){
    position: relative;
    right:110px;
}
.offFor>div:nth-child(7){
    width:100px; 
}
.offFor>div:nth-child(8){
    position: relative;
    right:110px;
}



/* ------------------------------Lab tests------------------------------------------------- */



   
.lab>h2,p{
    margin-left:20px;

}
.lab{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 250px;
    gap:20px;
    background: #4fc3f7;
}
.lab>div{
border-radius: 6px;
border:1px solid grey;
}
.lab>div>img{
    width:20%;
    height:50px;
    margin-top:30px;
    margin-left:20px;
}
.blue{
    
    font-size:15px;
    color:teal;
    margin:120px 250px;
    white-space:nowrap;
    
}
.lab>div>p{
    margin-top:10px;
}
.lab>div>h4{
    position: relative;
    bottom:40px;
    left:20px;
}
.lab>div>h5{
    position: relative;
    bottom:10px;
    left:20px;
}
.lab>div>h3{
position: relative;
    top:20px;
    left:20px;
}
.lab>div:nth-child(2){
    position:relative;
    top:70px;
    background: white;
    
}
.lab>div:nth-child(3){
    position:relative;
    top:70px;
    background: white;
    
}
.lab>div:nth-child(4){
    position:relative;
    top:70px;
    background: white;
    
}
#br{
position:relative;
top:150px;
}

/* ----------------------------------------featured barand---------------------------------- */

#brands{
    margin-top:200px;
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows:250px;
    gap:20px;
    
}
#brands>div{
    
}
#brands>div>img{
    width:100%;
}

/* ---------------------------------------Deals of the day--------------------------------- */

#pink{
    background: lightpink;
    height:300px;
    width:100%;
    margin-top:200px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap:20px;
}
#pink>div{
    margin-left:0px;
    border:1px solid wheat;
    border-radius:5px;
    height:300px;
    width:200px;
}
#pink>div:nth-child(1){
     
    position:relative;
    top:150px;
background: white;
    

}
#pink>div>p{
    white-space:pre-line;
    position:relative;
    top:10px;

}
#pink>div>h3,h4{
    position:relative;
    top:10px;
    left:10px;  
}
#pink>div>img{
    width:100%;
    height:100%;
}
#pink>div:nth-child(2){
    position:relative;
    top:150px;
    background: white;
   
    
}
#pink>div:nth-child(3){
    position:relative;
    top:150px;
    background: white;
    
}
#pink>div:nth-child(4){
    position:relative;
    top:150px;
    background: white;
    
}
#pink>div:nth-child(5){
    position:relative;
    top:150px;
    background: white;
    
}
#pink>div:nth-child(6){
    position:relative;
    top:150px;
    background: white;
    
}
#watch{
    position: relative;
    top:380px;
    width:5%;
    height:1.9%;
    left:50px;
}
#today{
    position:relative;
    left:150px; 
    top:310px;
}

/* ---------------------------------health Article------------------------------------- */

#health{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px;
    gap:40px;
    margin-top:400px;
    justify-content:center;
    align-items: center;
}
#health>div{
    
}
#health>div>img{
    width:100%;
}
#health>div>p{
    /* white-space:pre-line; */
    display:inline-block;
    width:300px;
     white-space:nowrap; 
    overflow:hidden !important;
    text-overflow: ellipsis;
}
#article{
    color:teal;
}
#health-article{
    position: relative;
    top:330px;
}

/* -------------------------------why choose us-------------------------------------------- */

#choose{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
    
    margin-top:100px;
}
#choose>div{
    
    position: relative;
    
    left:70px;

}
#us{
    position: relative;
    top:50px;
    left:70px;
}
#choose>div>h3{
    position: relative;
    left:10px;
    font-weight: Bold;
}
#choose>div>p{
    position: relative;
    bottom:10px;
    right:8px;
    font-size:20px;
    font-weight: Bold;
}


/* -----------------------------------customer response------------------------------------ */

#customer{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;

    margin-top:200px;
}
#customer>div{
    position: relative;
    
     
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#customer>div>p{
    white-space:pre-line;
}
#customer>div>h3{
    white-space:pre-line;
}
#res{
    position: relative;
    top:150px; 
    left:70px;  
}


/* ----------------------------------download------------------------- */

#download{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 400px;
    background: #fafafa;
    
    margin-top:100px;
}
.odd{
    width:30%;
    height:30%;
    position: relative;

    left:50px;
}
#download>div>p{
    font-size:30px;
    font-weight: bold;
    line-height:100px;
}
#even{
    width:100%;
    height:100%;

}

/* -----------------------------------desc-------------------------- */

#desc{
    height:1000px;
    width:100%;
    background: #fafafa;
    margin-top:100px;
}
#desc>p{
    white-space:pre-line;
}


/* --------------------------LAST----------------------------------- */

#last{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 800px;
    background:#c7c7c7;
}
#last>div>img{
    height:40px;
    width:40px;
    margin:15px;
background: teal;
}
li{
    font-size:20px;
    margin-bottom:20px;
    
}

/* --------------------footer-------------------------------------------- */
#image{
    display:flex;
    height:40px;
    width:40px;
    gap:20px;
}




