
   
.lab>h2,p{
    margin-left:20px;

}
.lab{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 250px;
    gap:20px;
    background: #4fc3f7;
}
.lab>div{
border-radius: 6px;
border:1px solid grey;
}
.lab>div>img{
    width:20%;
    height:50px;
    margin-top:30px;
    margin-left:20px;
}
.blue{
    
    font-size:15px;
    color:teal;
    margin:120px 250px;
    white-space:nowrap;
    
}
.lab>div>p{
    margin-top:10px;
}
.lab>div>h4{
    position: relative;
    bottom:40px;
    left:20px;
}
.lab>div>h5{
    position: relative;
    bottom:10px;
    left:20px;
}
.lab>div>h3{
position: relative;
    top:20px;
    left:20px;
}
.lab>div:nth-child(2){
    position:relative;
    top:70px;
    background: white;
    
}
.lab>div:nth-child(3){
    position:relative;
    top:70px;
    background: white;
    
}
.lab>div:nth-child(4){
    position:relative;
    top:70px;
    background: white;
    
}
#br{
position:relative;
top:150px;
}