#last{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 800px;
    background:#c7c7c7;
}
#last>div>img{
    height:40px;
    width:40px;
    margin:15px;
background: teal;
}
li{
    font-size:20px;
    margin-bottom:20px;
    
}