#off{
    /* display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px;
    border:1px solid green; */
    
    
}


.offFor{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 100px;
    margin-left:50px;

    gap:20px;
}
.offFor>div{

    
}
.offFor>div>img{
    width:50%;
    height:50%;
    position:relative;
    top:20px;
    bottom:20px;
    left:20px;
    right:20px;
}
.offFor>div>p{
    white-space:nowrap;
    font-size:16px;
    width:150px;
    overflow: hidden !important;
    text-overflow:ellipsis;
margin-top:20px;
    color:black;
    font-weight: bolder;
    
}

.offFor>div:nth-child(1){
    width:100px;
}
.offFor>div:nth-child(2){
    position: relative;
    right:110px;
}
.offFor>div:nth-child(3){
    width:100px;
}
.offFor>div:nth-child(4){
    position: relative;
    right:110px;
}
.offFor>div:nth-child(5){
    width:100px;  
}
.offFor>div:nth-child(6){
    position: relative;
    right:110px;
}
.offFor>div:nth-child(7){
    width:100px; 
}
.offFor>div:nth-child(8){
    position: relative;
    right:110px;
}


